@import '../../app-common';
@import '../../app-variables';

.project-list {
    separator-color: transparent;
}

.project {
    background-color: #FEFFF3;
    border-color: #E5E6DA;
    border-style: solid;
    border-radius: 5;
    border-width: 1;
    color: black;
    font-family: serif;
    font-size: 16;
    padding: $main-padding;
    margin-bottom: 5;
}
