@import '../../app-common';
@import '../../app-variables';

.page {
    font-size: 16;
}

HtmlView {
    // For iOS
    background-color: $page-color;
}

#app-name {
    font-weight: bold;
}

#report-bug {
    margin-top: 10;
}
