@import '../../app-common';
@import '../../app-variables';

.field {
    margin: 5 0;
}

.field-addon {
    margin: 5 0;
}

.field-addon.icon {
    font-size: 28;
    padding: 3 3 0 0;
}

#project-field {
    margin-bottom: 0;
}

#clear-btn {
    margin: 5 0 0;
}

.project-list {
    margin: 0 2 5;
}

.project {
    background-color: #FFF;
    font-size: 16;
    padding: $main-padding;
}

#save-btn {
    margin-top: 10;
}
