@import '../../app-common';
@import '../../app-web';

.priority {
    @extend %tag;

    &.priority-a {
        background-color: $priority-a;
    }

    &.priority-b {
        background-color: $priority-b;
    }

    &.priority-c {
        background-color: $priority-c;
    }

    &.priority-d {
        background-color: $priority-d;
    }
}

#due-date-wrapper {
    position: relative;
}

#calendar-icon {
    font-size: 20px;
}

.color {
    border: 1px solid $field-border-color;
    border-radius: $field-border-radius;
    box-sizing: border-box;
    display: inline-block;
    height: 20px;
    width: 20px;
}

#save-btn {
    margin-top: 5px;
}
