<div class="header">
  <div class="title">{{ title }}</div>
</div>
<form
  [formGroup]="form"
  (window:keydown.esc)="goBack()"
  class="page"
>
  <label class="field-label">
    Task
  </label>
  <input
    #taskTextField
    type="text"
    formControlName="text"
    class="field"
  >
  <label class="field-label">
    Projects
  </label>
  <task-form-autocomplete
    [items]="projects"
    [inputControl]="form.controls.projects"
  >
  </task-form-autocomplete>

  <label class="field-label">
    Contexts
  </label>
  <task-form-autocomplete
    [items]="contexts"
    [inputControl]="form.controls.contexts"
  >
  </task-form-autocomplete>

  <label class="field-label">
    Priority
  </label>
  <div class="field-wrapper">
    <input
      type="text"
      formControlName="priority"
      class="field"
    >
    <div
      *ngFor="let priority of priorities; let last = last;"
      class="field-addon"
    >
      <a
        (click)="setPriority(priority)"
        [className]="'priority priority-' + priority.toLowerCase()"
      >
        {{ priority }}
      </a>
    </div>
  </div>

  <label class="field-label">Due date</label>
  <div id="due-date-wrapper" class="field-wrapper">
    <input
      type="text"
      formControlName="dueDate"
      class="field"
      (keydown.ArrowDown)="setDueToday()"
    >
    <a (click)="setDueToday()" class="field-addon">today</a>
    <span class="field-addon">|</span>
    <a (click)="setDueTomorrow()" class="field-addon">tomorrow</a>
    <span class="field-addon">|</span>
    <span
      angular-mydatepicker
      #datepicker="angular-mydatepicker"
      [options]="{
        dateFormat: 'yyyy-mm-dd',
        alignSelectorRight: true,
        stylesData: {
          styles: '
            .myDpSelector {left: auto !important; right: 0}
            .myDpSelectorArrowRight::before,
            .myDpSelectorArrowRight::after {left: 93%}
            .myDpDaycell, .myDpWeekDayTitle {color: #643900}
            .myDpMarkCurrDay {border-color: #643900}
            .myDpSelectedDay {background-color: #ebebeb}
          '
        }
      }"
    ></span>
    <a
      (click)="showDatePicker(datepicker)"
      id="calendar-icon"
      class="field-addon material-icons event"
    ></a>
  </div>

  <label class="field-label">Recurrence</label>
  <input
    type="text"
    formControlName="recurrence"
    class="field"
  >

  <label class="field-label">Color</label>
  <div class="field-wrapper">
    <input
      type="text"
      formControlName="color"
      class="field"
    >
    <div
      *ngFor="let color of colors; let last = last;"
      class="field-addon"
    >
      <a
        (click)="setColor(color)"
        class="color"
        [style.background-color]="color"
      ></a>
    </div>
  </div>

  <button
    type="submit"
    [disabled]="!form.valid"
    (click)="save()"
    id="save-btn"
    class="btn"
  >
    save
  </button>
</form>
