<form [formGroup]="form" class="page">
  <label class="field-label">
    Task
  </label>
  <input
    #taskTextField
    type="text"
    formControlName="text"
    class="field"
  >
  <label class="field-label">
    Projects
  </label>
  <input
    type="text"
    formControlName="projects"
    class="field"
  >
  <label class="field-label">
    Priority
  </label>
  <input
    type="text"
    formControlName="priority"
    class="field"
  >
  <label class="field-label">Due date</label>
  <input
    type="text"
    formControlName="dueDate"
    class="field"
  >
  <button
    (click)="setDueToday()"
    id="today-btn"
    class="btn"
  >
    today
  </button>
  <label class="field-label">Recurrence</label>
  <input
    type="text"
    formControlName="recurrence"
    class="field"
  >

  <button
    [disabled]="!form.valid"
    (click)="save()"
    id="save-btn"
    class="btn"
  >
    save
  </button>
</form>
