@import '../../app-common';
@import '../../app-web';

.project-list {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0 0 5px;
    min-width: 300px;
    padding: 0 2px;
    width: 33%;
}

.project {
    background-color: #FFF;
    cursor: pointer;
    font-size: 16px;
    padding: $main-padding;

    &:hover,
    &.selected {
        background-color: $menu-color;
    }

    &:last-child {
        border-radius: 0 0 $field-border-radius $field-border-radius;
    }
}

.priority {
    @extend %tag;

    &.priority-a {
        background-color: $priority-high;
    }

    &.priority-b {
        background-color: $priority-medium;
    }

    &.priority-c {
        background-color: $priority-low;
    }
}

#save-btn {
    margin-top: 5px;
}
