@import '../../app-common';
@import '../../app-variables';

.field {
    margin: 5 0;
}

#project-field {
    margin-bottom: 0;
}

.project-list {
    margin: 0 2 5;
}

.project {
    background-color: white;
    font-size: 16;
    padding: $main-padding;
}

#calendar-btn {
    color: $link-color;
    font-size: 32;
    padding: 3 3 0;
}

#save-btn {
    margin-top: 10;
}
