@import '../../app-common';
@import '../../app-web';

$nav-color: #DFE6B8;
$nav-text-color: #000000;

nav {
    background-color: $nav-color;
    color: $nav-text-color;
    font-family: $header-font;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    min-width: 200px;

    a {
        color: $nav-text-color;
    }
}

.nav-header {
    background: linear-gradient(90deg, $header-color 50%, #252622 100%);
    margin: 0;
}

.version {
    color: #5a5a5a;
}

.nav-item {
    padding: 10px $main-padding 0;
}
