@import '../../app-common';
@import '../../app-web';

.page {
    width: 33%;
}

.subheader {
    margin: 0 0 $main-padding;
}

.tag {
    @extend %tag;
    display: inline-block;
    font-size: 16px;
    margin: 0 $main-padding $main-padding 0;

    &:hover {
        background-color: $tag-hover-color;
    }
}
