<ActionBar class="action-bar" [title]="title">
  <NavigationButton
    icon="font://&#xe5d2;"
    class="icon"
    text="Menu"
    ios:visibility="collapse"
    (tap)="openDrawer()"
  ></NavigationButton>
  <ActionItem
    icon="font://&#xe5d2;"
    class="icon"
    text="Menu"
    android:visibility="collapse"
    ios.position="left"
    (tap)="openDrawer()"
  ></ActionItem>
</ActionBar>

<ScrollView
  (swipe)="switchToTasks($event)"
  class="page"
>
  <StackLayout>
    <Label
      *ngIf="projects.length > 0"
      text="Projects"
      class="subheader"
    ></Label>
    <FlexboxLayout
      flexDirection="row"
      flexWrap="wrap"
    >
      <Label
        *ngFor="let project of projects"
        class="tag"
        [text]="'+' + project"
        textWrap="true"
        (tap)="showTaskList({project: project})"
      ></Label>
    </FlexboxLayout>
    <Label
      *ngIf="contexts.length > 0"
      text="Contexts"
      class="subheader"
    ></Label>
    <FlexboxLayout
      flexDirection="row"
      flexWrap="wrap"
    >
      <Label
        *ngFor="let context of contexts"
        class="tag"
        [text]="'@' + context"
        textWrap="true"
        (tap)="showTaskList({context: context})"
      ></Label>
    </FlexboxLayout>
  </StackLayout>
</ScrollView>
