@import '../../app-common';
@import '../../app-variables';

.subheader {
    font-size: 16;
    margin: 0 0 $main-padding;
    text-align: center;
}

.tag {
    @extend %tag;
    font-size: 16;
    margin: 0 $main-padding $main-padding 0;
}
