<div class="header">
  <div class="title">{{ title }}</div>
  <a
    *ngIf="isFilterEnabled()"
    (click)="removeFilter()"
    class="material-icons highlight_remove"
  ></a>
  <a
    (click)="sortTaskList()"
    class="material-icons sort"
  ></a>
</div>
<div class="page" (window:keydown)="onHotKey($event)">
  <button
    (click)="addTask()"
    id="add-task-btn"
    class="btn"
  >
    add task
  </button>
  <div *ngFor="let task of getTaskList()" class="task">
    <div class="task-body">
      <div
        (click)="toggleComplete(task)"
        [title]="getTaskExtras(task)"
        class="task-checkbox"
      >
        <i *ngIf="task.complete" class="material-icons check"></i>
      </div>
      <div
        [className]="task.complete ? 'task-text completed' : 'task-text'"
        [innerHTML]="getTaskHtml(task)"
        (click)="editTask(task, $event)"
      ></div>
      <div class="tags">
        <div
          *ngFor="let project of task.projects"
          (click)="setFilter({project: project})"
          class="tag project"
        >
          {{ '+' + project }}
        </div>
        <div
          *ngFor="let context of task.contexts"
          (click)="setFilter({context: context})"
          class="tag context"
        >
          {{ '@' + context }}
        </div>
        <div
          *ngIf="task.priority"
          [className]="'tag priority-' + task.priority.toLowerCase()"
        >
          {{ task.priority }}
        </div>
        <div
          *ngIf="task.due"
          [className]="'tag due-date priority-' + task.getDueDatePriority().toLowerCase()"
          (click)="setFilter({dueDate: task.due})"
        >
          {{ getDateDisplay(task.due) }}
        </div>
        <div *ngIf="task.rec" class="tag">
          {{ task.rec.display() }}
        </div>
      </div>
      <a
        (click)="showTaskMenu(task, $event)"
        class="task-menu material-icons more_vert"
      ></a>
    </div>
  </div>
</div>
