@import '../../app-common';
@import '../../app-web';

.header {
    display: flex;

    .sort {
        margin-left: auto;
    }
}

.page {
    display: flex;
    flex-wrap: wrap;
}

#add-task-btn {
    break-after: always;
    margin-bottom: $main-padding;
}

.task {
    background-color: $task-color;
    border-color: $task-border-color;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    break-after: always;
    color: $text-color;
    font-family: 'Vollkorn', serif;
    font-size: 17px;
    margin-bottom: 5px;
    min-width: 33%;
    padding: $main-padding;

    &:hover {
        border: 1px solid $menu-color;
    }
}

.task-body {
    display: flex;
}

$task-checkbox-size: 20px;

.task-checkbox {
    background-color: $task-checkbox-color;
    border-color: $task-checkbox-text-color;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: $task-checkbox-text-color;
    cursor: pointer;
    height: $task-checkbox-size;
    margin-right: $main-padding;
    text-align: center;
    width: $task-checkbox-size;

    i {
        font-size: 19px;
        font-weight: bold;
        line-height: $task-checkbox-size;
    }

    &:hover {
        border-color: #999;
        color: #999;
    }
}

.task-text {
    flex-grow: 1;
    margin-right: 15px;
    padding-top: 2px;

    &.completed {
        color: $task-completed-color;
        text-decoration: line-through;

        ::ng-deep a {
            color: $task-completed-color;
        }
    }
}

.tags {
    display: flex;
    font-family: $main-font;
    font-size: 12px;
    height: 100%;
    padding-top: 2px;
    text-align: right;
}

.tag {
    @extend %tag;
    margin-left: 5px;

    &:first-child {
        margin-left: 0;
    }

    &.priority-a {
        background-color: $priority-a;
    }

    &.priority-b {
        background-color: $priority-b;
    }

    &.priority-c {
        background-color: $priority-c;
    }

    &.priority-d {
        background-color: $priority-d;
    }

    &.overdue {
        background-color: $priority-a;
    }
}

.project,
.context,
.due-date {
    cursor: pointer;

    &:hover {
        background-color: $tag-hover-color;
    }
}

.task-menu {
    color: #999;

    &:hover {
        color: $link-color;
    }
}
