<ActionBar class="action-bar" [title]="title">
  <NavigationButton
    icon="res://baseline_menu_white_24"
    text="Menu"
    ios:visibility="collapse"
    (tap)="openDrawer()"
  ></NavigationButton>
  <ActionItem
    icon="res://baseline_menu_white_24"
    text="Menu"
    android:visibility="collapse"
    ios.position="left"
    (tap)="openDrawer()"
  ></ActionItem>
  <ActionItem
    *ngIf="isFilterEnabled()"
    android.position="actionBar"
    ios.position="right"
    icon="font://&#xe888;"
    class="icon"
    text="Remove filter"
    (tap)="removeFilter()"
  ></ActionItem>
  <ActionItem
    android.position="popup"
    ios.position="right"
    text="Add task"
    (tap)="addTask()"
  ></ActionItem>
</ActionBar>

<GridLayout rows="*" height="100%" class="page">
  <PullToRefresh (refresh)="reloadFile($event)">
    <ListView
      #taskList
      height="100%"
      class="task-list"
      [items]="getTaskList()"
    >
      <ng-template let-task="item">
        <!-- Extra layout is needed for correct styling -->
        <StackLayout>
          <StackLayout
            class="task"
            (swipe)="removeTask(task)"
          >
            <FlexboxLayout
              flexDirection="row"
              justifyContent="flex-end"
              class="tags"
            >
              <Label
                *ngIf="task.priority"
                [className]="'tag priority-' + task.priority"
                [text]="task.priority"
              ></Label>
              <Label
                *ngIf="task.due"
                class="tag"
                [text]="task.due|date:'dd.MM.yyyy'"
              ></Label>
              <Label
                *ngFor="let project of task.projects"
                class="tag"
                [text]="project"
                (tap)="filter = {project: project}"
              ></Label>
            </FlexboxLayout>
            <FlexboxLayout flexDirection="row">
              <Label
                alignSelf="flex-start"
                class="task-checkbox icon"
                [text]="task.complete ? '&#xe876;' : ''"
                (tap)="toggleComplete(task)"
                (longPress)="postponeTask(task)">
              ></Label>
              <Label
                flexGrow="1"
                [className]="task.complete ? 'task-text completed' : 'task-text'"
                [text]="task.text"
                textWrap="true"
                (doubleTap)="editTask(task)"
              ></Label>
            </FlexboxLayout>
          </StackLayout>
        </StackLayout>
      </ng-template>
    </ListView>
  </PullToRefresh>
  <Fab
    class="add-task-btn"
    text="+"
    (tap)="addTask()"
  ></Fab>
</GridLayout>
