<ActionBar class="action-bar" [title]="title">
  <NavigationButton
    icon="font://&#xe5d2;"
    class="icon"
    text="Menu"
    ios:visibility="collapse"
    (tap)="openDrawer()"
  ></NavigationButton>
  <ActionItem
    icon="font://&#xe5d2;"
    class="icon"
    text="Menu"
    android:visibility="collapse"
    ios.position="left"
    (tap)="openDrawer()"
  ></ActionItem>
  <ActionItem
    *ngIf="isFilterEnabled()"
    android.position="actionBar"
    ios.position="right"
    icon="font://&#xe888;"
    class="icon"
    text="Remove filter"
    (tap)="removeFilter()"
  ></ActionItem>
  <ActionItem
    android.position="actionBar"
    ios.position="right"
    icon="font://&#xe164;"
    class="icon"
    text="Sort tasks"
    (tap)="sortTaskList()"
  ></ActionItem>
</ActionBar>

<GridLayout
  rows="*"
  height="100%"
  class="page"
  (swipe)="switchToTags($event)"
>
  <PullToRefresh (refresh)="reloadFile($event)">
    <ListView
      #taskList
      height="100%"
      class="item-list"
      [items]="getTaskList()"
    >
      <ng-template let-task="item">
        <!-- Extra layout is needed for correct styling -->
        <StackLayout>
          <StackLayout
            class="task"
            [style.background-color]="task.color"
          >
            <FlexboxLayout
              flexDirection="row"
              justifyContent="flex-end"
              class="tags"
            >
              <Label
                *ngFor="let project of task.projects"
                class="tag"
                [text]="'+' + project"
                (tap)="setFilter({project: project})"
              ></Label>
              <Label
                *ngFor="let context of task.contexts"
                class="tag"
                [text]="'@' + context"
                (tap)="setFilter({context: context})"
              ></Label>
              <Label
                *ngIf="task.priority"
                [className]="'tag priority-' + task.priority.toLowerCase()"
                [text]="task.priority"
              ></Label>
              <Label
                *ngIf="task.due"
                [className]="'tag priority-' + task.getDueDatePriority().toLowerCase()"
                [text]="getDateDisplay(task.due)"
                (tap)="setFilter({dueDate: task.due})"
              ></Label>
              <Label
                *ngIf="task.rec"
                class="tag"
                [text]="task.rec.display()"
              ></Label>
            </FlexboxLayout>
            <FlexboxLayout flexDirection="row">
              <Label
                alignSelf="flex-start"
                class="task-checkbox icon"
                [text]="task.complete ? '&#xe876;' : ''"
                (tap)="toggleComplete(task, $event)"
                (longPress)="showTaskMenu(task, $event)"
              ></Label>
              <CustomHtmlView
                flexGrow="1"
                [className]="task.complete ? 'task-text completed' : 'task-text'"
                [html]="getTaskHtml(task)"
                (tap)="editTask(task, $event)"
              ></CustomHtmlView>
            </FlexboxLayout>
          </StackLayout>
        </StackLayout>
      </ng-template>
    </ListView>
  </PullToRefresh>
  <Fab
    id="add-task-btn"
    text="+"
    (tap)="addTask()"
  ></Fab>
</GridLayout>
