@import '../../app-common';
@import '../../app-variables';

.task {
    @extend %task;
}

.tags {
    font-family: sans-serif;
    font-size: 14;
    text-align: right;
}

$priority-high: #EEAAA7;
$priority-medium: #F0D3A8;
$priority-low: #F2EAAA;

.tag {
    @extend %tag;
    margin-left: 5;

    &.priority-A {
        background-color: $priority-high;
    }

    &.priority-B {
        background-color: $priority-medium;
    }

    &.priority-C {
        background-color: $priority-low;
    }

    &.overdue {
        background-color: $priority-high;
    }
}

.task-checkbox {
    background-color: #FFFFFF;
    border-color: #333;
    border-radius: 3;
    border-width: 1;
    color: $header-color;
    font-size: 24;
    font-weight: bold;
    height: 30;
    margin-right: $main-padding;
    max-height: 30;
    min-width: 30;
    padding: 1 0;
    text-align: center;
    vertical-align: middle;
    width: 30;
}

.task-text {
    background-color: transparent; /* required on iOS */
    link-color: $link-color;
    margin-top: 3;
}

.task-text.completed {
    color: #999;
    link-color: #999;
    text-decoration: line-through;
}

.add-task-btn {
    background-color: #C2CC87;
    color: $text-color;
    font-size: 12;
    height: 70;
    horizontal-align: right;
    margin: 0 20 20 0;
    ripple-color: $text-color;
    vertical-align: bottom;
    width: 70;
}
