<div class="page-header">
  <div class="page-title">{{ title }}</div>
  <a
    *ngIf="isFilterEnabled()"
    (click)="removeFilter()"
    class="material-icons highlight_remove"
  ></a>
</div>
<div class="page">
  <button
    (click)="addTask()"
    id="add-task-btn"
    class="btn"
  >
    add task
  </button>
  <div *ngFor="let task of getTaskList()" class="task">
    <div class="tags">
      <div
        *ngFor="let project of task.projects"
        (click)="setFilter({project: project})"
        class="tag project"
      >
        {{ '+' + project }}
      </div>
      <div
        *ngIf="task.priority"
        [className]="'tag priority-' + task.priority"
      >
        {{ task.priority }}
      </div>
      <div
        *ngIf="task.due"
        [className]="'tag due-date priority-' + task.getDueDatePriority()"
        (click)="setFilter({dueDate: task.due})"
      >
        {{ getDateDisplay(task.due) }}
      </div>
      <div *ngIf="task.rec" class="tag">
        {{ task.rec.display() }}
      </div>
    </div>
    <div class="task-body">
      <div class="task-checkbox" (click)="toggleComplete(task)">
        <i *ngIf="task.complete" class="material-icons check"></i>
      </div>
      <div
        [className]="task.complete ? 'task-text completed' : 'task-text'"
        [innerHTML]="getTaskHtml(task)"
        (click)="editTask(task, $event)"
      ></div>
    </div>
  </div>
</div>
