@import '../../app-common';
@import '../../app-web';

.page-header {
    display: flex;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

#add-task-btn {
    break-after: always;
    margin-bottom: $main-padding;
}

.task {
    background-color: $task-color;
    border-color: $task-border-color;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    break-after: always;
    color: $text-color;
    font-family: 'Vollkorn', serif;
    font-size: 17px;
    margin-bottom: 5px;
    min-width: 33%;
    padding: $main-padding;
}

.tags {
    display: flex;
    font-family: $main-font;
    font-size: 12px;
    justify-content: flex-end;
    text-align: right;
}

.tag {
    @extend %tag;
    margin-left: 5px;

    &.priority-A { /* stylelint-disable-line selector-class-pattern */
        background-color: $priority-high;
    }

    &.priority-B { /* stylelint-disable-line selector-class-pattern */
        background-color: $priority-medium;
    }

    &.priority-C { /* stylelint-disable-line selector-class-pattern */
        background-color: $priority-low;
    }

    &.overdue {
        background-color: $priority-high;
    }
}

.project,
.due-date {
    cursor: pointer;

    &:hover {
        background-color: $tag-hover-color;
    }
}

.task-body {
    display: flex;
}

$task-checkbox-size: 20px;

.task-checkbox {
    background-color: $task-checkbox-color;
    border-color: $task-checkbox-text-color;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: $task-checkbox-text-color;
    cursor: pointer;
    height: $task-checkbox-size;
    margin-right: $main-padding;
    text-align: center;
    width: $task-checkbox-size;

    i {
        font-size: 19px;
        font-weight: bold;
        line-height: $task-checkbox-size;
    }

    &:hover {
        border-color: #999;
        color: #999;
    }
}

.task-text {
    padding-top: 2px;

    &.completed {
        color: $task-completed-color;
        text-decoration: line-through;

        ::ng-deep a {
            color: $task-completed-color;
        }
    }
}
