// Common variables to be shared between iOS and Android
$main-padding: 7;

$field-border: 2;
$field-border-radius: 3;

%task {
    background-color: $task-color;
    border-color: $task-border-color;
    border-radius: 5;
    border-style: solid;
    border-width: 1;
    color: $text-color;
    font-family: serif;
    font-size: 16;
    margin-bottom: 5;
    padding: $main-padding;
}

%tag {
    background-color: $tag-color;
    color: $tag-text-color;
    padding: 2 5;
}
