// Common variables for web app
$main-padding: 7px;

$field-border: 2px;
$field-border-radius: 3px;

$main-font: Tahoma, Geneva, sans-serif;
$header-font: 'PT Sans', sans-serif;

%tag {
    background-color: $tag-color;
    color: $tag-text-color;
    padding: 2px 5px;
}
