// Common variables to be shared between web, iOS and Android
$text-color: #000000;
$link-color: #643900; // Also defined as ns_accent in values-v21/colors.xml

$header-color: #333333;
$header-text-color: #FBFCF0; // Also defined as header_text in values-v21/colors.xml
$menu-color: #DFE6B8;
$page-color: #FBFCF0;
$button-color: #EDEEE2;
