// Common variables to be shared between web, iOS and Android
$text-color: #000000;
$link-color: #643900; // Also defined as ns_accent in values-v21/colors.xml
$link-hover-color: #995700;

$header-color: #333333;
$header-text-color: #FBFCF0; // Also defined as header_text in values-v21/colors.xml
$menu-color: #DFE6B8;
$page-color: #FBFCF0;

$button-color: #EDEEE2;
$button-border-color: #E3E6CF;

$field-color: #FFFFFF;
$field-border-color: #EBEBEB;

$task-color: #FEFFF3;
$task-border-color: #E5E6DA;
$task-checkbox-color: #FFFFFF;
$task-checkbox-text-color: #333333;
$task-completed-color: #999999;

$priority-high: #EEAAA7;
$priority-medium: #F0D3A8;
$priority-low: #F2EAAA;
