// Common styles for iOS and Android
@import 'app-common';
@import 'app-variables';

.icon {
    font-family: "Material Icons", "MaterialIcons-Regular";
}

.action-bar {
    background-color: $header-color;
    color: $header-text-color;
    font-size: 20;
    font-weight: bold;
}

.action-bar .icon {
    font-size: 10;
}

.page {
    background-color: $page-color;
    color: $text-color;
    padding: $main-padding;
}

.btn {
    background-color: $button-color;
    border-width: 1;
    border-color: #E3E6CF;
    border-radius: 3;
    color: $link-color;
    padding: $main-padding;
}

.btn-disabled {
    background-color: #EEEEEE;
    border-color: #EEEEEE;
    color: #B5B5B5;
}

.field {
    background-color: $field-color;
    border-color: $field-border-color;
    border-radius: $field-border-radius;
    border-width: $field-border;
    font-size: 16;
    padding: $main-padding;
}

.field-with-addon {
    border-radius: $field-border-radius 0 0 $field-border-radius;
    border-width: $field-border 0 $field-border $field-border;
}

.field-addon {
    background-color: $field-color;
    border-color: $field-border-color;
    border-radius: 0 $field-border-radius $field-border-radius 0;
    border-width: $field-border $field-border $field-border 0;
    height: 21 + $main-padding * 2 + $field-border * 2;
    margin: 0;
    padding: 3 $main-padding 0;
}
