// Styles for the web app
@import '~normalize.css';
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/src/material-design-icons';
@import 'app-common';
@import 'app-web';

body {
    font-family: sans-serif;
}

a {
    color: $link-color;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: $link-hover-color;
}

.page {
    background-color: $page-color;
    color: $text-color;
    padding: $main-padding;
}

#file-picker {
    padding: $main-padding;
    text-align: center;
}

.btn {
    background-color: $button-color;
    border: 1px solid $button-border-color;
    border-radius: 3px;
    color: $link-color;
    padding: $main-padding;
}

.field {
    border: $field-border solid $field-border-color;
    background-color: $field-color;
    border-radius: $field-border-radius;
    font-size: 16px;
    padding: $main-padding;
}
