// Styles for the web app
@import '~normalize.css';
@import 'app-common';
@import 'app-web';

.page {
    background-color: $page-color;
    color: $text-color;
    padding: $main-padding;
}

#file-picker {
    padding: $main-padding;
    text-align: center;
}
